.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.saveCounter {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.progressContainer {
  display: inline-block;
}
.progressText {
  display: inline-block;
  color: black;
  padding-left: 10px;
}

.progressView {
  border-top: 2px dotted #bbb;
  height: 16px;
  width: 16px;
  border-radius: 15px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  height: 100%;
  display: inline-flex;
  text-align: center;
}

.container {
  text-align: center;
  display: block;
  margin-top: 50px;
}

.wrapper .box {
  margin: 10px auto;
  background: white;
  height: 56px;
  width: 60px;
  border-radius: 8px 0 0 8px;
  border-style: solid;
  color: #b24242;
  text-align: center;
}

.box .content {
  border: 0px;
  height: 56px;
  width: 60px;
  border-radius: 8px 0 0 8px;
  background-color: white;
  color: #b24242;
}

.wrapper .box1 {
  margin: 10px auto;
  height: 56px;
  width: 60px;
  background: #fbe8e8;
  border-style: solid;
  color: #b24242;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: lightgrey;
}

.wrapper .box2 {
  margin: 10px auto;
  background: white;
  height: 56px;
  width: 60px;
  border-radius: 0 8px 8px 0;
  border-style: solid;
  color: #b24242;
}

.box2 .content {
  border: 0px;
  height: 56px;
  width: 60px;
  border-radius: 0 8px 8px 0;
  background-color: #b24242;
  color: white;
}

.box1 .content {
  border: 0px;
  height: 56px;
  width: 60px;
  color: white;
  background-color: #fbe8e8;
  color: #b24242;
  text-align: center;
}

input:focus {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
